

body {
    font-family: sans-serif;
    color: white;
    background: linear-gradient(135deg, #05182f 0%, #0a3f71 100%);
    background-attachment: fixed;
    transition: background 3s ease;
    
  }

body.s1{

    background: linear-gradient(135deg, #175c9d 0%, #002b5c 100%);
  }

  body.s2{

    background: linear-gradient(135deg, #002b5c 0%, #0c325d 100%);
  }

  body.s3{

    background: linear-gradient(135deg, #0c325d 0%, #4290e9 100%);
  }

  @keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    color: azure;
    height: 100vh;
    margin-bottom: 50px;
    animation: appear 5s ease-in;
    animation-timeline: view();
    animation-range: entry 0;
    animation-fill-mode: both;
}



.mlink {
    margin: auto;
    display: flex; justify-content: center;
    list-style: none; 
    text-align: center;
    align-items: center;
    transition-duration: 1s;
    text-decoration: none;
    display: flex; 
    gap: 90px;
    font-size: 20px;
    color: aliceblue;
    border: 3px;
    
  }
  
  .mlink li {
    text-decoration: none;
    opacity: 0;
    border: 3px;
    margin: 0;
    text-align: center;
    align-items: center;
    transition-duration: 1s;
    transform: translateX(300px);
    animation: sliR 0.8s ease forwards;
  }
  
  
  .mlink a {

    text-align: center;
    align-items: center;
    color: white;
    border: 3px;
    
    font-family: sans-serif;
        text-decoration: none;
    animation-duration: 1s;
    transition: color 0.9s ease;

  }
  
  
  
  .mlink a:hover {
    font-size: 26.5px;
    border: 3px;
    border-color: aliceblue;
  }
  
  @keyframes sliR {
    to
    {

      opacity: 1.0;

      transform: translateX(0);

    }
  }



  .mlink li:nth-child(1) 
  {animation-delay: 0.5s;}
  .mlink li:nth-child(2) 
  {animation-delay: 0.8s;}
  .mlink li:nth-child(3) 
 {animation-delay: 1s;}
  .mlink li:nth-child(4)
  {animation-delay: 1.1s;}
  .mlink li:nth-child(5)
  {animation-delay: 1.2s;}
  

.cara{
  
  display: flex;
  margin: 50px auto;
  width: 80%;
  overflow-x: auto;
}

.cara::-webkit-scrollbar{
  display: none;
}

.g{display: flex;
  
  gap: 1em;
  padding-right: 1em;
  align-items: center;
  justify-content: center;
  animation: z 20s infinite linear;

}

.ci{
  padding: 1em;
  background:darkslategrey;
  border-radius: .4em;
  font-size: 3rem;
  text-align: center;
  align-content: center;
  height: 5em;
  padding-bottom: 70px;


}

@keyframes z{
  from {translate: 0;}  to {translate: -100%;}
}
